/*
==================================
           STYLEGUIDE
==================================
Base styles for styleguide.
All classes should be namespaced off of "sg-".

*/


/* -------------------------------------------------------------------------
 Styleguide Layout
 ---------------------------------------------------------------------------- */

 .sg-header {
  background: #000;
  color: #fff;
}
.sg-header a {
  color: #fff;
}

.sg-header-nav li a:hover,
.sg-header-nav li a:focus {
  background-color: #262626;
  color: white;
  outline: none;
}

/* sg dropdown menu */
.sg-header-nav li.dropdown,
.sg-header-nav li.dropdown li,
.sg-header-nav li.dropdown ul.dropdown-menu,
.sg-header-nav li.dropdown ul.dropdown-menu li a,
.sg-header-nav li.dropdown a {
  background-color: black;
  background-image: none;
  color: white;
  border-radius: 0;
}
.sg-header-nav li.dropdown a.dropdown-toggle {
  background-color: black;
}
.sg-header-nav li.dropdown a.dropdown-toggle:hover {
  background-color: #262626;
}
.sg-header-nav li.dropdown ul.dropdown-menu li a:focus,
.sg-header-nav li.dropdown ul.dropdown-menu li a {
  background-color: #262626;
}
.sg-header-nav li.dropdown ul.dropdown-menu,
.sg-header-nav li.dropdown ul.dropdown-menu li a {
  background-color: #1A1A1A;
}
.sg-header-nav li.dropdown ul.dropdown-menu {
  border: 1px solid #282828;
}

// Default menu shows on all pages
.sg-menu-default {
  a {
    font-weight: bold;
  }
}

@media screen and (max-width: 650px) {
  .sg-header {
    text-align: center;
  }
}

.sg-info, .sg-base-styles {
  padding-bottom: 24px;
}

.sg-footer {
  margin: 40px 0 0 0;
  padding: 0;
  background-color: #eee;
  border-top: 1px solid #e5e5e5;
}

.sg-admin-links,
.sg-admin-links li {
  list-style: none;
}
/* -------------------------------------------------------------------------
 Styleguide Utility Classes
 ---------------------------------------------------------------------------- */
 .sg-container {
  border: 2px solid #ebebeb;
  position: relative;
}

.sg-animated {
  -webkit-transition: all 0.6s ease-out;
  -moz-transition: all 0.6s ease-out;
  -ms-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
}



/* Styleguide Branding
---------------------------------------------------------------------------- */
/* TODO REFACTOR THIS SECTION */
.sg-navbar-header {
  display: inline-block;
  float: left;
  padding-top: 15px;
}
.sg-logo {
  font-size: 20px
}
.sg-logo a {
  font-size: 20px;
  padding-left: 15px;
  display: block;
  /* TODO reformat */
  position: relative;
  z-index: 1;
}
.sg-navbar-brand {
  display: inline-block;
  font-size: 18px;
  line-height: 20px;
  position: relative;
  z-index: 1;
}
.sg-navbar {
  float: right;
}
.sg-navbar-toggle {
  background-color: #eee;
  margin-top: 27px;

  .icon-bar {
    background-color: #777;
  }
}

.sg-navbar {
  text-align: center;
  width: 100%;
  float: right;
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .sg-navbar {
  text-align: left;
  width: auto;
  float: none;
}
  .sg-logo {
    font-weight: normal;
    margin: 0;
    padding: 0;
  }
  .sg-logo a {
    padding-left: 0;
  }
}

.sg-logo span {
  font-weight: bold;
}


.sg-logo {
  padding-bottom: .5em;
  text-align: center;
}



/* Styleguide Navigation
---------------------------------------------------------------------------- */
.sg-nav{
  float: right;
}

/* Styleguide Headings
---------------------------------------------------------------------------- */
.sg-h1,
.sg-h2,
.sg-h3 {
  font-family: sans-serif;
  font-weight: normal;
  margin-bottom: 1em;
  margin-top: 0;
}

.sg-h1 {
  font-size: 1.75em;
  font-weight: bold;
  padding-bottom: .2em;
}

.sg-h2 {
  border-bottom: 2px solid #ddd;
  font-size: 1.5em;
  margin-bottom: .5em;
  text-transform: capitalize;
}

.sg-h3 {
  font-size: 1.2em;
}


/* Styleguide Buttons
---------------------------------------------------------------------------- */
.sg-btn {
  background: #cbcbcb;
  border: none;
  color: #222;
  float: left;
  padding: .5em .9em;
  text-decoration: none;

  &:hover {
    color: #222;
    text-decoration: none;
  }
}

/* Styleguide Sections
---------------------------------------------------------------------------- */
.sg-section {
  margin-bottom: 32px;
  overflow: hidden;
}

.sg-anchor {
  display: block;
  padding-top: 1em;
}

// Lists
.sg-list-group {
  list-style: none;
  padding: 10px 0;
}
.sg-list-group a {
  color: #333;
  display: block;
  font-size: 15px;
  font-weight: bold;
  padding: 4px 12px;
}
.sg-list-group li:nth-child(2n+1) a {
  background-color: #f8f8f8;
}

.sg-panel-default-split div:first-child  {
  border-right: 1px solid #ddd;
}

/* Styleguide Markup
---------------------------------------------------------------------------- */
.sg-markup {}

.sg-doc {
  border-bottom: 1px solid #ddd;
  margin-bottom: 1em;
}

.sg-markup-controls {
  border-bottom: 1px dashed #ddd;
  overflow: hidden;
  padding-top: 1.5em;
  padding-bottom: 5px;
  .sg-btn {
    float: right;
  }
}

.sg-source {
  position: relative;
}

// syntax highlighting using pretty print
.language-markup {
  font-size: 14px;
}

.sg-source pre {
  border: 1px solid #ddd;
  color: #fff;
  overflow-x: scroll;
  padding: .5em .3em;
}

.sg-source pre code {
  background: transparent;
}

.sg-expandable {
  position: relative;
  height: 0;
  display: none;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in;
  -moz-transition: all 0.4s ease-in;
  -ms-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

.sg-expanded {
  height: auto;
  display: block;
  opacity: 1;
}

/* Pages */

/* Login form */

/*body {
  padding-bottom: 40px;
  background-color: #eee;
  }*/

  .form-signin {
    /*max-width: 330px;*/
    padding: 15px;
    margin: 0 auto;

    .form-signin-heading,
    .checkbox {
      margin-bottom: 10px;
    }
    .checkbox {
      font-weight: normal;
    }
    .form-control {
      position: relative;
      height: auto;
      padding: 10px;
      font-size: 16px;
    }
    .form-control:focus {
      z-index: 2;
    }
    input[type="email"] {
      margin-bottom: -1px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
    input[type="password"] {
      margin-bottom: 10px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }

/* Styleguide Patterns */

/* Ace html editor */
.ace_search_field {
  color: #333333;
  font-family: verdana, sans-serif;
}
