&lt;!--
Includes: Hours, Dates, Location
Optional: N/A
Function: N/A
Optional Function: Link
--&gt;

<div class="EventInfo">
  <div class="EventInfo-inner">
  <div class="EventInfo-hours col">
    <dl>
      <dt>Hours:</dt>
      <dt>Monday/Friday</dt>
      <dd>11am - 6pm</dd>
      <dt>Saturday/Sunday</dt>
      <dd>10am - 7pm</dd>
    </dl>
  </div>
  <div class="EventInfo-date col">
    <dl>
      <dt>Date:</dt>
      <dd>June 29, 1014 - September 20, 1014</dd>
    </dl>
  </div>
  <div class="EventInfo-location col">
    <dl>
      <dt>Locations:</dt>
      <dd>Annenberg Space for Photography</dd>
      <dd>2000 Avenue of the Stars</dd>
      <dd>Los Angeles, CA 90067</dd>
    </dl>
  </div>
</div>
</div>