&lt;!--
Includes: Image, Headline, Subhead, Date, Hours,
Location, Description, CTA
Optional: N/A
Function: N/A
--&gt;
<div class="Events1">
  <div class="Events1-inner row">
    <div class="Events1-img col-md-3">
      <img src="//placehold.it/300x300"/>
    </div>
    <div class="Events1-details col-md-6">
      <div class="row">
        <div class="Events1-date col-md-4">
          <h3>June</h3>
          <h3>29</h3>
        </div>
        <div class="Events1-headline col-md-4">
          <h1>Event Headline</h1>
          <em>Subhead for Event</em>
          <dl>
            <dt>Hours:</dt>
            <dd>10am - 7pm</dd>
          </dl>
        </div>
        <div class="Events1-location col-md-4">
          <dl>
            <dt>Locations:</dt>
            <dd>Annenberg Space for Photography</dd>
            <dd>2000 Avenue of the Stars</dd>
            <dd>Los Angeles, CA 90067</dd>
          </dl>
        </div>
      </div>
      <div class="row">
        <div class="Events1-description col-md-12">
          <p>Asymmetrical chillwave Truffaut occupy, VHS next level drinking vinegar selvage skateboard locavore ethnic fashion axe keytar. Bespoke Godard messenger bag, sriracha ethnic deep v put a bird on it American Apparel +1 pop-up vegan skateboard.</p>
          <p>Bitters gastropub kale chips flannel Godard chillwave, Echo Park VHS Pinterest flexitarian. Post-ironic cardigan viral pork belly bitters trust fund, authentic roof party narwhal synth forage vegan High Life Helvetica. Selvage ethical kale chips, Blue Bottle selfies cardigan keffiyeh banh mi gastropub mlkshk stumptown artisan post-ironic flexitarian leggings. Wolf drinking vinegar pop-up bespoke scenester. Master cleanse XOXO yr Vice, lo-fi ennui pour-over banh mi craft beer ethical.</p>
        </div>
      </div>
      <button class="Events1-btn btn btn-sm">CTA</button>
    </div>
  </div>
</div>