&lt;!--
Includes: Profile Image, Bio, Artist Work, CTA
Optional: N/A
Function: Link
Optional Function: Carousel
--&gt;
<div class="Profile1">
<div class="row">
    &lt;!-- Slider Carousel==================================================--&gt;

    <div class="col-md-8">

&lt;!-- Flexslider --&gt;
<div class="flexslider">
<ul class="slides">
<li>
<img src="//p-hold.com/770/354" />
</li>
<li>
<img src="//placehold.it/770x354" />
</li>
<li>
<img src="//pipsum.com/770x354.jpg" />
</li>
</ul>
</div>
</div>&lt;!-- /.flexslider--&gt;

&lt;!-- Headline Text  ================================================== --&gt;
<div class="col-md-4">
    <div class="profile-1-header clearfix">
        <img class="img-responsive pull-left"  alt="placekitten" src="/images/placeholders/k110x110.jpg">
        <h3 class="profile1-header-name">Name</h3>
    </div>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pretium
        vulputate magna sit amet blandit.</p>
        <p>Cras rutrum, massa non blandit convallis, est lacus gravida enim, eu fermentum
            ligula orci et tortor. In sit amet nisl ac leo pulvinar molestie. Morbi
            blandit ultricies ultrices.</p>
            <a href="#"><i class="glyphicon glyphicon-plus-sign"></i>Read More</a> 
        </div>
    </div>
</div>
