&lt;!--
Includes: Profile Image, Bio, CTA
Optional: N/A
Function: Link
Optional Function: N/A
--&gt;
<div class="Profile2">
  <div class="Profile2-profileimage">
    <img class="img-rounded" src="//placekitten.com/120/120"/>
  </div>
  <h2>Hunter S. Thompson</h2>
  <div class="Profile2-profiletext">
    <p>Asymmetrical chillwave Truffaut occupy, VHS next level drinking vinegar selvage skateboard locavore ethnic fashion axe keytar. Bespoke Godard messenger bag, sriracha ethnic deep v put a bird on it American Apparel +1 pop-up vegan skateboard.</p>
    <p>Bitters gastropub kale chips flannel Godard chillwave, Echo Park VHS Pinterest flexitarian. Post-ironic cardigan viral pork belly bitters trust fund, authentic roof party narwhal synth forage vegan High Life Helvetica. Selvage ethical kale chips, Blue Bottle selfies cardigan keffiyeh banh mi gastropub mlkshk stumptown artisan post-ironic flexitarian leggings. Wolf drinking vinegar pop-up bespoke scenester. Master cleanse XOXO yr Vice, lo-fi ennui pour-over banh mi craft beer ethical.</p>
  </div>
  <button class="Profile2-cta btn btn-sm">CTA</button>
</div>