&lt;!--
Includes: Profile Image, Bio, Artist Work, CTA
Optional: N/A
Function: Link
Optional Function: Carousel
--&gt;
<div class="Profile1">
<div class="row">
    &lt;!-- TEMPORARY PATTERN ONLY! --&gt;
    &lt;!-- Begin Headline --&gt;
    &lt;!-- Slider Carousel==================================================--&gt;

    <div class="col-md-8">

     <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      &lt;!-- Indicators --&gt;
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>

    &lt;!-- Wrapper for slides --&gt;
    <div class="carousel-inner">
        <div class="item active">
          <img alt="placekitten" src="http://placehold.it/770x354">
          <div class="carousel-caption">
          </div>
      </div>
      <div class="item">
          <img alt="placekitten" src="http://placehold.it/770x354">
          <div class="carousel-caption">

          </div>
      </div>

  </div>

  &lt;!-- Controls --&gt;
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
</a>
<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
</a>
</div>

</div>


&lt;!-- Headline Text  ================================================== --&gt;
<div class="col-md-4">
    <div class="profile-1-header clearfix">
        <img class="img-responsive pull-left"  alt="placekitten" src="/images/placeholders/k110x110.jpg">
        <h3 class="profile1-header-name">Name</h3>
    </div>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pretium
        vulputate magna sit amet blandit.</p>
        <p>Cras rutrum, massa non blandit convallis, est lacus gravida enim, eu fermentum
            ligula orci et tortor. In sit amet nisl ac leo pulvinar molestie. Morbi
            blandit ultricies ultrices.</p>
            <a href="#"><i class="glyphicon glyphicon-plus-sign"></i>Read More</a> 
        </div>
    </div>
</div>
